:root {
  --light: #abbbc0;
  --light0-5:rgba(171, 187, 192,0.5);
  --dark: #2f2a24;
  --pyro: #ff957a;
  --hydro: #7999c3; 
  --anemo: #79c3b2; 
  --electro: #c379c0; 
  --dendro: #87c379; 
  --cryo: #79bdc3; 
  --geo: #c3b279;

  --icon-color: var(--electro);
}

body{background-color: var(--light);}

/* Навигация */
.main-nav {
  position: relative;
}
.nav-links {
  background-color: var(--dark)
}

.nav-item.active {
  
  color: var(--dark);
}
.section{background-color: var(--light);}

.language-switcher {background-color: var(--dark);}


.progress-fill.urgent {
  background: var(--pyro);


}

.language-switcher .lang-btn.active {
  background: var(--light);
  color: var(--dark);
}
